<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>搜索分类</title>
    <script src="dist/js/flexble.js"></script>
    <link rel="stylesheet" href="dist/css/reset.css">
    <!-- <link rel="stylesheet" href="//at.alicdn.com/t/font_gsea2zgerrjp2e29.css"> -->
    <link rel="stylesheet" href="dist/css/index.css">
    <link rel="stylesheet" href="dist/css/swiper.min.css">
    <link rel="stylesheet" href="dist/css/iconfont.css">
</head>

<body style="min-height:2000px;">
    <header>
        <div class="search_header">
            <div class="return"><i class="iconfont icon-chevron-right-copy"></i></div>
            <div class="search_title">
                <a href="#" class="fenlei">分类</a>
                <a href="#" class="pinpai current">品牌</a>
            </div>
            <div class="home_logo"><i class="iconfont icon-zhuye"></i></div>
        </div>
    </header>
    <div class="search_list_top">
        <div class="search_box">
            <button><i class="iconfont icon-search"></i>搜索品牌货商品</button>
        </div>
        <!-- 头部导航条 -->
        <div class="swiper-container" id="slide3">
            <div class="swiper-wrapper ">
                <div class="swiper-slide page1 corrent ">
                    <a href="javascript:;">
                        <i class="iconfont icon-nvzhuang"></i>
                        <p>女装</p>
                    </a>
                </div>
                <div class="swiper-slide page1">
                    <a href="javascript:;">
                        <i class="iconfont icon-nanzhuang"></i>
                        <p>男装</p>
                    </a>
                </div>
                <div class="swiper-slide page1 ">
                    <a href="javascript:;">
                        <i class="iconfont icon-neiyi"></i>
                        <p>内衣</p>
                    </a>
                </div>
                <div class="swiper-slide page1 ">
                    <a href="javascript:;">
                        <i class="iconfont icon-xiebaozhuanhuan01"></i>
                        <p>鞋靴</p>
                    </a>
                </div>
                <div class="swiper-slide page1 ">
                    <a href="javascript:;">
                        <i class="iconfont icon-xiexiangbao"></i>
                        <p>箱包</p>
                    </a>
                </div>
                <div class="swiper-slide page1 ">
                    <a href="javascript:;">
                        <i class="iconfont icon-meizhuang"></i>
                        <p>美妆</p>
                    </a>
                </div>
                <div class="swiper-slide page1 ">
                    <a href="javascript:;">
                        <i class="iconfont icon-icon1"></i>
                        <p>母婴</p>
                    </a>
                </div>
                <div class="swiper-slide page1 ">
                    <a href="javascript:;">
                        <i class="iconfont icon-qiu"></i>
                        <p>运动户外</p>
                    </a>
                </div>
                <div class="swiper-slide page1 ">
                    <a href="javascript:;">
                        <i class="iconfont icon-icon-test"></i>
                        <p>精品</p>
                    </a>
                </div>
                <div class="swiper-slide page1 ">
                    <a href="javascript:;">
                        <i class="iconfont icon-shafa"></i>
                        <p>家居家纺</p>
                    </a>
                </div>
                <div class="swiper-slide page1 ">
                    <a href="javascript:;">
                        <i class="iconfont icon-10"></i>
                        <p>家电数码</p>
                    </a>
                </div>
                <div class="swiper-slide page1 ">
                    <a href="javascript:;">
                        <i class="iconfont icon-mingcha"></i>
                        <p>食品</p>
                    </a>
                </div>
            </div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
    <div class="contentBox">
        <div class="content content1">
            <h3>女装</h3>
            <ul>
                <li v-for="shop in nvzhuanglist">
                    <a href="#"><img :src="shop.img" width="100%" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="content content2">
            <h3>男装</h3>
            <ul>
                <li v-for="shop in nvzhuanglist">
                    <a href="#"><img :src="shop.img" width="100%" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="content content3">
            <h3>内衣</h3>
            <ul>
                <li v-for="shop in nvzhuanglist">
                    <a href="#"><img :src="shop.img" width="100%" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="content content4">
            <h3>鞋靴</h3>
            <ul>
                <li v-for="shop in nvzhuanglist">
                    <a href="#"><img :src="shop.img" width="100%" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="content content5">
            <h3>箱包</h3>
            <ul>
                <li v-for="shop in nvzhuanglist">
                    <a href="#"><img :src="shop.img" width="100%" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="content content6">
            <h3>美妆</h3>
            <ul>
                <li v-for="shop in nvzhuanglist">
                    <a href="#"><img :src="shop.img" width="100%" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="content content7">
            <h3>母婴</h3>
            <ul>
                <li v-for="shop in nvzhuanglist">
                    <a href="#"><img :src="shop.img" width="100%" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="content content8">
            <h3>运动户外</h3>
            <ul>
                <li v-for="shop in nvzhuanglist">
                    <a href="#"><img :src="shop.img" width="100%" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="content content9">
            <h3>精品</h3>
            <ul>
                <li v-for="shop in nvzhuanglist">
                    <a href="#"><img :src="shop.img" width="100%" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
<script src="dist/js/jquery.min.js"></script>
<script src="dist/js/index.js"></script>
<script src="dist/plugin/swiper.min.js "></script>
<script>
var mySwiper1 = new Swiper('#slide3', {
    preventClicks: false,
    slidesPerView: 'auto',
    spaceBetween: 0,
    freeMode: true,
    scrollbar: '.swiper-scrollbar',
});
</script>
<script src="dist/plugin/vue.min.js"></script>
<script>
new Vue({
    el: ".contentBox",
    data: {
        nvzhuanglist: [{
            id: 1,
            img: "dist/pic/s1.jpg",
        }, {
            id: 2,
            img: "dist/pic/s2.jpg",
        }, {
            id: 3,
            img: "dist/pic/s3.jpg",
        }, {
            id: 4,
            img: "dist/pic/s4.jpg",
        }, {
            id: 5,
            img: "dist/pic/s5.jpg",
        }, {
            id: 6,
            img: "dist/pic/s6.jpg",
        }],
    }
})
</script>
